.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  display: grid;
  margin: 16px 0;
  max-width: 1200px;
  align-items: center;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.logo {
  width: 80px;
  cursor: pointer;
}

ul {
  gap: 32px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: #0a5440;
        text-decoration: underline;
      }

      i {
        border: 1px solid #e5e5e5;
        border-radius: 80px;
        height: 36px;
        width: 36px;
        font-size: 16px;
      }
    }
  }
}

.userCartContainer {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
}

.shippingContainer {
  gap: 16px;
  justify-content: flex-end;
}

.shipping {
  gap: 8px;
  display: flex;
  i {
    font-size: 28px;
  }
}

.shippingText {
  display: grid;
}

.phone {
  font-size: 18px;
  font-weight: 700;
  color: #0a5440;
}

// * Drawer ===================================

.drawerHeader {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;

  i {
    cursor: pointer;
  }
}

.drawerBody {
  padding: 16px;
  flex-grow: 1; /* Prend tout l’espace disponible */
  overflow-y: auto; /* Ajoute un scroll si le contenu dépasse */
}

.drawerMenu {
  gap: 8px;
  width: 100%;
  display: grid;
}

.product {
  gap: 16px;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 0.3fr 1fr 2fr 0.3fr;
  i {
    color: red;
    padding: 6px;
    font-size: 8px;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
      background-color: #f7f4ef;
    }
  }
}

.productImage {
  img {
    width: 46px;
    height: 46px;
    padding: 4px;
    object-fit: cover;
    border-radius: 20px;
    background-color: #f7f4ef;
  }
}

.productCaption {
  font-size: 13px;
}

.productPrice {
  color: #0a5440;
}

.addIcon {
  color: #0a5440 !important;
  background-color: #f7f4ef;
}

.drawerFooter {
  gap: 12px;
  display: grid;
  padding: 16px;
  border-top: 1px solid #e5e5e5;
}

// * Login Modal ===================================

.loginModal {
  gap: 16px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.loginModalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: #0a5440;
  }
}

.loginModalBody {
  form {
    gap: 8px;
    display: grid;
  }
}
