.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faf9f6;

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

.container {
  gap: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  max-width: 1200px;

  @media (max-width: 768px) {
    margin: 20px 0;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }
}

.categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.category {
  gap: 8px;
  display: grid;
  justify-items: center;
}

.image {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 80px;
  justify-content: center;
  transition: all ease 0.35s;
  background-color: #50a6491a;

  @media screen and (max-width: 768px) {
    width: 40px;
    height: 40px;
  }

  &:hover {
    background-color: #50a649;
  }

  img {
    height: 60px;
    position: relative;
    transition: all ease 0.35s;

    @media screen and (max-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }
}

.name {
  color: #1e1d23;
  font-weight: 700;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}
