.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faf9f6;

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

.container {
  gap: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
  max-width: 1200px;

  a {
    cursor: pointer;
    text-decoration: none;
  }
}

.categories {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.category {
  gap: 8px;
  display: grid;
  justify-items: center;
}

.image {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 80px;
  justify-content: center;
  transition: all ease 0.35s;
  background-color: #50a6491a;

  @media screen and (max-width: 768px) {
    width: 60px;
    height: 60px;
  }

  &:hover {
    background-color: #50a649;
  }

  img {
    height: 60px;
    position: relative;
    transition: all ease 0.35s;
  }
}

.name {
  color: #1e1d23;
  font-weight: 700;
  text-align: center;
}

.arrowLeft,
.arrowRight {
  i {
    width: 36px;
    height: 36px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 80px;
    background-color: white;
    border: 1px solid #e5e5e5;

    &:hover {
      color: #0a5440;
    }
  }
}

.arrowRight {
  display: flex;
  justify-content: flex-end;
}
