.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #50a649;

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

.container {
  gap: 32px;
  width: 100%;
  display: flex;
  color: white;
  margin: 20px 0;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
}
