.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  gap: 32px;
  width: 100%;
  display: grid;
  margin: 80px 0;
  max-width: 1200px;
}

.topSection {
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.topSectionText {
  gap: 32px;
  display: grid;
  height: fit-content;

  h3 {
    font-size: 32px;
    color: #ffc222;
    font-family: "Norican";
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  p {
    font-size: 15px;
    color: #808080;
  }
}

.topSectionImages {
  gap: 16px;
  display: grid;
  height: fit-content;
  grid-template-columns: repeat(2, 1fr);

  img {
    border-radius: 8px;
  }

  .topSubSectionImages {
    gap: 16px;
    display: grid;
    height: fit-content;
  }
}
