.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #50a6491a;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.container {
  gap: 32px;
  width: 100%;
  display: grid;
  margin: 80px 0;
  max-width: 1200px;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.group {
  display: grid;
  padding: 24px;
  cursor: pointer;
  border-radius: 16px;
  align-items: center;
  background-color: white;
  height: -webkit-fill-available;
  grid-template-columns: repeat(2, 1fr);

  &:hover {
    .image {
      background-color: #0a5440;
      img {
        transform: scale(1.1);
      }
    }
  }
}

.middleGroup {
  color: white;
  background-color: #0a5440;

  .text {
    color: white;
  }

  &:hover {
    .image {
      background-color: #50a649;
    }
  }
}

.text {
  gap: 16px;
  height: 100%;
  display: grid;
  color: #1e1d23;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.description {
  width: 80%;
}

.footerText {
  font-size: 20px;
  font-weight: 800;
}

.image {
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  border-radius: 80px;
  justify-content: center;
  transition: all ease 0.35s;
  background-color: #50a6491a;

  img {
    // right: 20px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    transition: all ease 0.35s;
  }
}
