.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f6f6f6;
  height: 100vh;

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 600px;
    height: 600px;
    object-fit: cover;
  }
}

.formContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  form {
    gap: 16px;
    width: 60%;
    padding: 32px;
    display: grid;
    border-radius: 16px;
    justify-items: center;
    // background-color: #f6f6f6;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
