.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.container {
  gap: 32px;
  width: 100%;
  display: grid;
  margin: 120px 80px;
  max-width: 1200px;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.text {
  gap: 32px;
  display: grid;
  h1 {
    color: #1e1d23;
    font-size: 76px;
    line-height: 66px;
    // text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.textFooter {
  gap: 16px;
  display: flex;
  align-items: center;

  p {
    font-weight: 700;
    font-size: 36px;

    span {
      font-size: 14px;
    }
  }
}

.image {
  display: flex;
  justify-content: flex-end;

  img {
    width: 400px;
  }
}
