.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.container {
  gap: 32px;
  width: 100%;
  display: grid;
  padding: 160px 80px;
  align-items: center;
  grid-template-columns: 0.1fr 1fr 0.1fr;
}

.text {
  gap: 24px;
  display: grid;
  h1 {
    color: #1e1d23;
    font-size: 76px;
    line-height: 66px;
  }
}

.price {
  font-weight: 700;
  font-size: 36px;

  span {
    font-size: 14px;
  }
}

.image {
  display: flex;
  justify-content: flex-end;

  img {
    width: 400px;
  }
}

.arrowLeft,
.arrowRight {
  i {
    width: 36px;
    height: 36px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 80px;
    border: 1px solid #e5e5e5;

    &:hover {
      color: #0a5440;
    }
  }
}

.arrowRight {
  display: flex;
  justify-content: flex-end;
}
