.toastContainer {
  display: flex;
  border: solid;
  border-width: 1px;
  font-family: "Poppins";
}

.success {
  color: #065e49;
  border-color: #065e49;
  background-color: #d3fcd2;
}

.error {
  color: #7a0916;
  border-color: #7a0916;
  background-color: #ffe9d5;
}

.progress {
  color: #7a4100;
  border-color: #7a4100;
  background-color: #fff5cc;
}
