.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  gap: 32px;
  width: 100%;
  display: grid;
  margin: 80px 0;
  max-width: 1200px;
  align-items: center;
  justify-items: center;
}

.header {
  display: grid;
  justify-items: center;

  h1 {
    font-family: "Norican";
    font-size: 42px;
  }

  p {
    color: #808080;
    text-align: center;
  }
}

.form {
  gap: 16px;
  display: flex;
  align-items: center;
}
