.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  gap: 32px;
  width: 100%;
  display: grid;
  margin: 80px 0;
  max-width: 1200px;

  @media screen and (max-width: 768px) {
    margin: 40px 0;
  }
}

.product {
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.images {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-radius: 20px;
  aspect-ratio: 1 / 1;
  justify-content: center;
  transition: all ease 0.35s;
  background-color: rgba(80, 166, 73, 0.1);

  @media screen and (max-width: 768px) {
    padding: 0 16px;
  }

  img {
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
  }
}

.infos {
  gap: 32px;
  display: grid;
  height: fit-content;

  @media screen and (max-width: 768px) {
    padding: 0 16px;
  }
}

.title {
  font-size: 52px;
  color: #1e1d23;
  font-weight: 700;
  line-height: 52px;
  text-decoration: none;
}

.rate {
  gap: 4px;
  display: flex;
  i {
    font-size: 12px;
  }
}

.description {
  color: #808080;
}

.price {
  font-size: 28px;
  font-weight: 700;
  color: #006400;
}

.cart {
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    gap: 16px;
    display: grid;
  }
}

.quantity {
  gap: 16px;
  display: flex;
  font-size: 18px;
  align-items: center;

  i {
    width: 30px;
    height: 30px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 80px;
    background-color: #f7f4ef;
  }
}

.checkout {
  gap: 16px;
  display: grid;
}

.error {
  color: red;
}
