.container {
  gap: 10px;
  display: grid;
  padding: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  height: -webkit-fill-available;
  transition: all 0.4s ease-in-out;
  &:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

    .productImage {
      background-color: #50a649;
    }
  }

  a {
    color: #1e1d23;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.onsale {
  top: 10px;
  left: 10px;
  z-index: 2;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  font-weight: bold;
  position: absolute;
  border-radius: 80px;
  background-color: #ff0000;
}

.productImage {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-radius: 20px;
  aspect-ratio: 1 / 1;
  justify-content: center;
  transition: all ease 0.35s;
  background-color: rgba(80, 166, 73, 0.1); // rgb(255, 194, 34, 0.1);

  img {
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
  }
}

.productCaption {
  gap: 10px;
  flex-grow: 1;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.rate {
  gap: 4px;
  display: flex;
  i {
    font-size: 12px;
  }
}

.productTitle {
  font-size: 18px;
  color: #1e1d23;
  font-weight: 800;
  text-decoration: none;
}

.productDescription {
  font-size: 14px;
}

.productFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productPrice {
  font-size: 16px;
  font-weight: 700;
}

.productCart {
  width: 36px;
  height: 36px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-radius: 80px;
  background-color: #50a649;
}
