.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  gap: 32px;
  width: 100%;
  display: grid;
  margin: 80px 0;
  max-width: 1200px;
}

.accordions {
  display: grid;
  justify-items: center;
}

.accordionsChildren {
  gap: 10px;
  width: 65%;
  display: grid;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.question {
  font-size: 15px;
  font-weight: 600;
  color: #1e1d23;
  font-family: "Poppins";
}

.answer {
  padding: 16px;
  font-size: 14px;
  font-family: "Poppins";
}
